<nav class="bg-gradient flex items-center justify-between p-5">
  <%= link_to root_path do %>
    <%= image_tag "venja.svg", class: "h-6" %>
  <% end %>

  <div>
    <% if signed_in? %>
      <%= link_to t("navigation.track"), track_path, class: "text-white hover:text-white font-bold no-underline hover:underline" %>
      <%= link_to t("navigation.settings"), edit_settings_path, class: "ml-2 text-white hover:text-white font-bold no-underline hover:underline" %>
      <%= link_to t("actions.logout"), sign_out_path, method: :delete, class: "ml-2 text-white hover:text-white font-bold no-underline hover:underline" %>
    <% else %>
      <%= link_to t("actions.login"), sign_in_path, class: "text-white hover:text-white font-bold no-underline hover:underline" %>
    <% end %>
  </div>
</nav>
