<div class="container mx-auto max-w-md px-2">
  <h1 class="font-bold text-xl md:text-4xl text-blue-500 my-6">
    <%= t(".title") %>
  </h1>

  <div class="my-6 flex flex-col items-start">
    <p>
      <%= t(".password_reset_instructions") %>
    </p>
    <%= link_to t(".password_reset"), new_password_path, class: "mt-2 bg-blue-500 hover:bg-teal-500 font-bold no-underline text-white hover:text-white px-4 py-2 rounded" %>
  </div>

  <%= form_with(model: @settings, url: settings_path, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :time_zone, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.time_zone_select :time_zone, nil, {}, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>

      <p class="text-gray-600 text-sm">
        <%= t(".current_time", time: l(Time.zone.now, format: :short)) %>
      </p>
    </div>

    <div class="form-action mt-6">
      <%= form.submit t("actions.save"), class: "bg-blue-500 hover:bg-teal-500 font-bold no-underline text-white hover:text-white px-4 py-2 rounded" %>
    </div>
  <% end %>
</div>
