<div class="container mx-auto max-w-md px-2">
  <h1 class="font-bold text-xl md:text-4xl text-blue-500 my-6">
    <%= t(".title") %>
  </h1>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>

    <div class="form-group mt-6">
      <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.password_field :password, autofocus: true, class: "shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="form-action mt-6">
      <%= form.submit nil, class: "bg-blue-500 hover:bg-teal-500 font-bold no-underline text-white hover:text-white px-4 py-2 rounded" %>
    </div>
  <% end %>
</div>
