<div class="flex w-full justify-center px-2">
  <div>
    <div class="flex flex-row items-baseline">
      <%= link_to track_url(date: @start_date - 1.week), id: "previous-week" do %>
        <i class="fas fa-angle-left fa-2x"></i>
      <% end %>

      <h1 class="font-bold text-xl md:text-4xl text-blue-500 mx-3 my-6">
        <%= t(".title", week: @start_date.cweek) %>
      </h1>

      <%= link_to track_url(date: @start_date + 1.week), id: "next-week" do %>
        <i class="fas fa-angle-right fa-2x"></i>
      <% end %>
    </div>

    <div class="flex flex-no-wrap mb-3">
      <div class="flex-grow"></div>
      <% (@query.start_date..@query.end_date).each do |date| %>
        <div class="flex flex-col w-12 m-1 text-center">
          <span class="text-lg font-bold"><%= date.strftime("%a") %><br/></span>
          <span class="text-xs font-normal"><%= l(date, format: :short) %></span>
        </div>
      <% end %>
    </div>

    <% @query.habits.each do |habit| %>
      <div class="flex flex-no-wrap">
        <div class="flex-grow font-bold mr-2 self-center">
          <%= habit.name %>
        </div>
        <% (@query.start_date..@query.end_date).each do |date| %>
          <% activity = @query.activities.find { |act| act.habit == habit && act.performed_at == date } %>

          <div data-controller="activities" data-target="activities.grid" class="w-12 h-8 m-1">
            <%= render partial: "dashboard/weeks/activity", locals: { activity: activity, habit: habit, date: date } %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="mt-5">
      <%= link_to t(".settings"), habits_url, class: "text-sm" %>
    </div>
  </div>
</div>
