<!DOCTYPE html>
<html>
  <head>
    <title>Venja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="font-awesome">
    <%= render partial: "shared/navigation" %>

    <%= render partial: "shared/flashes" unless flash.empty? %>
    <%= yield %>
  </body>
</html>
